/* CONTENT */

/* main {

} */

/* MAIN HEADER */

.main-header {
    padding: 15px;
    height: 430px;
    position: relative;
}

.main-header-video {
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: relative;
}

.main-header-video::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.662);
}

.main-header-video-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 50px;
}

.main-header-text-itself {
    font-family: var(--f-main-header);
    color: white;
    font-size: 9.5rem;
    font-weight: 200;
    text-align: center;
}

.text-itself-divider {
    display: none;
}

/* ABOUT */

.about {
    padding-bottom: 100px;
    margin-top: 160px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.about-me-subheader {
    color: white;
    font-family: var(--f-main-header);
    font-size: 4rem;
    font-weight: 500;
}

.about-me-paragraph {
    color: #7d7d7d;
    width: 700px;
    text-align: center;
    font-family: 'Satoshi-Light';
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 600;
}

/* ABOUT ME AND STATISTICS */

.about-me-picture-and-statistics {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}

.about-me-picture {
    width: 85%;
    height: 700px;
    padding: 7px;
    overflow: hidden;
    line-height: 0;
    border-radius: 1.5rem;
    background-color: rgba(35, 35, 35, 0.5);
}

.about-me-picture-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.about-me-statistics {
    width: 85%;
    background-color: rgb(18, 18, 18);
    padding: 7px;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 10);
    border-radius: 0.5rem;
    padding-block: 28px;
    font-family: 'Satoshi-Light';
}

.statistics-top-text {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.statistics-bottom-text {
    color: #7d7d7d;
    font-size: 1rem;
    font-weight: 500;
}

/* MY SERVICES */

.my-services {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 100px;
}

.my-services-text {
    display: flex;
    justify-content: center;
}

.my-services-subheader {
    color: white;
    font-family: var(--f-main-header);
    font-size: 4rem;
    font-weight: 500;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 85%;
    padding: 10px;
    background-color: rgb(18, 18, 18);
    border-radius: 1rem;
}

.service-grid {
    background-color: rgb(10, 10, 10);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 0.5rem;
}

.service-grid-number {
    font-family: var(--f-main-header);
    color: rgb(40, 40, 40);
    font-size: 2rem;
}

.service-grid-type {
    color: white;
    font-family: 'Satoshi-Light';
    font-size: 1.4rem;
    font-weight: 500;
}

.service-grid-paragraph {
    color: #9b9b9b;
    font-family: 'Satoshi-Light';
    font-weight: 500;
    font-size: 1.15rem;
}

/* MEDIA QEURIES */

@media (max-width: 1200px) {
    .main-header-text-itself {
        font-size: 7.5rem;
    }
    .about-me-subheader,
    .my-services-subheader {
        font-size: 3rem;
    }
    .about-me-statistics {
        grid-template-columns: repeat(2, 1fr);
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
    .about-me-picture,
    .about-me-statistics,
    .services-grid {
        width: 88%;
    }
    .about-me-picture {
        height: 550px;
    }
}

@media (max-width: 1000px) {
    .main-header-text-itself {
        font-size: 5.5rem;
    }
    .about {
        margin-top: 100px;
    }
}

@media (max-width: 810px) {
    .main-header-text-itself {
        font-size: 4rem;
    }
    .about-me-picture,
    .about-me-statistics,
    .services-grid {
        width: 100%;
    }
    .about-me-paragraph {
        width: 95%;
    }
    .about,
    .my-services {
        padding-inline: 20px;
    }
    .about-me-statistics {
        grid-template-columns: 1fr;
    }
    .about-me-subheader,
    .my-services-subheader {
        font-size: 2.5rem;
    }
    .about-me-picture {
        height: 500px;
    }
    .my-services {
        margin-top: 80px;
    }
    .services-grid {
        padding: 8px;
        gap: 8px;
    }
    .about-me-picture-and-statistics {
        margin-top: 60px;
    }
}

@media (max-width: 550px) {
    .text-itself-divider {
        display: unset;
    }
    .about-me-picture {
        height: 400px;
    }
}

@media (max-width: 400px) {
    .main-header-text-itself {
        font-size: 3rem;
    }
    .about-me-subheader,
    .my-services-subheader {
        font-size: 2rem;
    }
    .about-me-paragraph {
        font-size: 1.1rem;
        line-height: 24px;
    }
    .about,
    .my-services {
        padding-inline: 10px;
    }
}