/* MAIN HEADER */

.main-header {
    padding: 15px;
    height: 430px;
    position: relative;
}

.main-header-video {
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: relative;
}

.main-header-video::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.662);
}

.main-header-video-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-header-text-itself {
    font-family: var(--f-main-header);
    color: white;
    font-size: 9.5rem;
    font-weight: 200;
}

/* CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 150px;
    row-gap: 70px;
}

.contact-text {
    display: flex;
    justify-content: center;
}

.contact-subheader {
    color: white;
    font-family: var(--f-main-header);
    font-size: 4rem;
    font-weight: 500;
}

/* CONTACT WAYS */

.contact-ways {
    width: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.social-medias {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.email-and-phone {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.direct-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 5px;
    position: relative;
}

.direct-btn::before {
    content: '';
    width: 0%;
    height: 0.5px;
    position: absolute;
    background-color: white;
    bottom: 0;
    transition: width 400ms;
}

.direct-btn:hover::before {
    width: 100%;
}

.direct-btn:hover .direct-btn-svg {
    transform: rotateZ(45deg);
    transition: transform 400ms;
}

.direct-btn-text {
    color: white;
    font-family: 'Satoshi-Light';
    font-size: 1.2rem;
    font-weight: 600;
}

.direct-btn-svg {
    --size: 22px;
    width: var(--size);
    height: var(--size);
    stroke: white;
    transition: transform 600ms;
}

.other-platforms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(18, 18, 18);
    column-gap: 8px;
    padding: 8px;
    border-radius: 0.8rem;
}

.other-platforms-link {
    text-decoration: none;
    color: white;
    font-family: 'Satoshi-Light';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
    background-color: rgb(10,10,10);
    border: 1px solid rgba(255,255,255,0);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    transition: background-color 400ms;
}

.other-platforms-link:hover {
    background-color: rgb(35,35,35);
}

/* CONTACT FORM */

.through-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.through-form-text {
    display: flex;
    justify-content: center;
}

.through-form-text > h3 {
    color: white;
    font-family: var(--f-main-header);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.form-itself {
    background-color: rgb(18, 18, 18);
    font-family: 'Satoshi-Light';
    padding: 25px;
    border-radius: 1rem;
}

.form-itself input {
    width: 100%;
    height: 45px;
    outline: none;
    background-color: rgb(10,10,10);
    color: white;
    border: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-family: 'Satoshi-Light';
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0);
}

.form-itself textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    outline: none;
    background-color: rgb(10,10,10);
    color: white;
    border: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Satoshi-Light';
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0);
}

.form-itself input:focus,
.form-itself textarea:focus {
    border: 1px solid rgba(255,255,255,0.2);
}

label {
    color: white;
}

.send-button {
    width: 100%;
    height: 55px;
    background-color: rgb(10,10,10);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'Satoshi-Light';
    font-weight: 600;
    cursor: pointer;
    transition: background-color 400ms;
}

.send-button:hover {
    background-color: rgb(35,35,35);
}