@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(../font/css/satoshi.css);

:root {
    --f-main-header: "Bebas Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
}

h1 {
    font-family: 'Satoshi-Light';
    font-size: 5rem;
    color: white;
}