/* VIDEOS */

.video-container {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.video-inner {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.video-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

.video-info-h1 {
    font-family: var(--f-main-header);
    color: white;
    font-size: 9.5rem;
    font-weight: 200;
    line-height: 180px;
    text-align: center;
}

.paragraph {
    width: 700px;
    color: #868686;
    font-family: 'Satoshi-Light';
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    line-height: 28px;
}

.video-more-info {
    width: 100%;
    padding: 8px;
    background-color: rgb(18,18,18);
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.video-more-info-inner {
    background-color: rgb(10,10,10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 25px;
    border-radius: 0.5rem;
    font-family: 'Satoshi-Regular';
    row-gap: 5px;
}

.video-more-info-inner-h3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.video-more-info-inner-h4 {
    color: #868686;
    font-size: 1.2rem;
    font-weight: 400;
}

/* VIDEO GALLERY */

.video-gallery { 
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.video-gallery-inner {
    width: 100%;
    height: 650px;
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 8px;
    background-color: rgb(25, 25, 25);
    line-height: 0;
}

.video-gallery-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

/* MORE VIDEOS */

.video-photos {
    padding-block: 150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.video-photos-text {
    display: flex;
    justify-content: center;
}

.video-photos-text-itself {
    color: white;
    font-family: var(--f-main-header);
    font-size: 4rem;
    font-weight: 500;
}

/* VIDEOS */

.videos-container {
    padding-inline: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.video {
    text-decoration: none;
    height: 400px;
    border-radius: 1rem;
    position: relative;
}

.video::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.3rem;
    z-index: -1;
    transition: scale 400ms;
}

.video:hover::before {
    scale: 1.022 1.035;
}

.video-background {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.video-background > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-text-link {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Satoshi-Light';
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 95%);
    border-radius: 0.93rem;
}

.video-link {
    display: flex;
    justify-content: flex-end;
}

.video-link-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-family: 'Satoshi-Light';
}

.video-link-btn-text {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0;
    transition: opacity 400ms;
}

.video-link-btn-svg {
    opacity: 0;
    transform: rotateZ(45deg);
    transition: opacity 400ms, transform 400ms;
}

.video-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.video-text-left {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.video-text-left-title {
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

.video-text-left-type {
    color: white;
    font-size: 1.2rem;
}

.video-text-year {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

/* VIDEO STATES */

.video:hover .video-link-btn-svg {
    transform: rotateZ(0);
    opacity: 1;
}

.video:hover .video-link-btn-text {
    opacity: 1;
}

/* SHOW ALL BUTTON */

.videography-show-all-button {
    display: flex;
    justify-content: center;
}

.direct-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 5px;
    position: relative;
}

.direct-btn::before {
    content: '';
    width: 0%;
    height: 0.5px;
    position: absolute;
    background-color: white;
    bottom: 0;
    transition: width 400ms;
}

.direct-btn:hover::before {
    width: 100%;
}

.direct-btn:hover .direct-btn-svg {
    transform: rotateZ(45deg);
    transition: transform 400ms;
}

.direct-btn-text {
    color: white;
    font-family: 'Satoshi-Light';
}

.direct-btn-svg {
    stroke: white;
    transition: transform 600ms;
}

/* MEDIA QEURIES */

@media (max-width: 1300px) {
    .video-info-h1 {
        font-size: 8rem;
    }
}

@media (max-width: 1200px) {
    .video-info-h1 {
        font-size: 7.5rem;
    }
    .video-info {
        row-gap: 40px;
    }
    .video-more-info {
        grid-template-columns: repeat(2, 1fr);
    }
    .video-inner {
        width: 100%;
        padding-inline: 80px;
    }
    .videos-container {
        grid-template-columns: 1fr;
        padding-inline: 80px;
    }
    .video {
        height: 500px;
    }
    .video-link-btn-text {
        opacity: 1;
    }
    .video-link-btn-svg {
        transform: none;
        opacity: 1;
    }
    .video-photos-text-itself {
        font-size: 3rem;
    }
}

@media (max-width: 900px) {
    .video-info-h1 {
        font-size: 5.5rem;
    }
    .paragraph {
        width: 100%;
    }
}

@media (max-width: 810px) {
    .video-info-h1 {
        font-size: 4rem;
        line-height: 70px;
    }
    .video-photos-text-itself {
        font-size: 2.5rem;
    }
    .video-more-info {
        grid-template-columns: 1fr;
        padding: 6px;
        gap: 6px;
    }
    .video-inner,
    .videos-container {
        padding-inline: 20px;
    }
    .video-gallery-inner {
        padding: 0;
        height: 450px;
    }
    .video {
        height: 450px;
    }
    .video-photos {
        padding-block: 80px 150px;
        row-gap: 40px;
    }
    .video-more-info {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .video-gallery-inner,
    .video {
        height: 350px;
    }
    .video-inner {
        row-gap: 50px;
    }
    .paragraph {
        padding-inline: 20px;
    }
}

@media (max-width: 500px) {
    .video-gallery-inner,
    .video {
        height: 270px;
    }
    .videos-container {
        gap: 10px;
        padding-inline: 10px;
    }
    .video-inner {
        padding-inline: 10px;
    }
    .video-container {
        padding-bottom: 50px;
    }
}

@media (max-width: 450px) {
    .video-info-h1 {
        font-size: 3.5rem;
        line-height: 50px;
    }
}

@media (max-width: 400px) {
    .video-info-h1 {
        font-size: 3rem;
    }
    .video-photos-text-itself {
        font-size: 2rem;
    }
    .video-text-left-title {
        font-size: 1.3rem;
    }
    .video-text-left-type {
        font-size: 1rem;
    }
    .video-text-year {
        font-size: 1.1rem;
    }
    .video-text-left {
        row-gap: 0;
    }
}

@media (max-width: 350px) {
    .video-text-link {
        padding: 15px;
    }
    .video-gallery-inner,
    .video {
        height: 220px;
    }
    .main-header-text {
        font-size: 3rem;
    }
    .video-more-info {
        width: 100%;
    }
}